@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Montserrat:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-family: "Montserrat";
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 700;
}

.subtitle {
  font-size: 32px;
  font-weight: 400;
  color: #777;
}

.btn {
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 60px;
  width: 100%;
  line-height: 60px;
  background: #000;
  color: #fff;
  border-radius: 6px;
  border: 2px solid #000;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  letter-spacing: 1px;
}
.btn:hover {
  background: #fff;
  color: #000;
}

.toDoList__header {
  width: 100%;
  background: white;
  height: auto;
  position: absolute;
  z-index: 5;
  top: 0;
  line-height: 75px;
}
.toDoList__header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toDoList__subtitle {
  color: #4f4f4f;
  line-height: 40px;
}

.toDoList__title {
  color: #0f0f0f;
}

.bg-block__btn {
  width: 300px;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 30px;
  background: rgba(255, 255, 255, 0);
  border: 2px solid #fff;
  z-index: 2;
}

form {
  overflow: hidden;
}

.toDolist__bg-block {
  position: relative;
  top: 0;
  left: 0;
}
.toDolist__bg-block img {
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
}

.bg-block__black-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  z-index: 1;
}

.bg-block__text-block {
  font-family: "Dancing Script";
  position: absolute;
  top: 40vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
}

.bg-block__title {
  color: #fff;
  max-width: 70%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.bg-block__title:after, .bg-block__title:before {
  content: '"';
}

.bg-block__subtitle {
  margin: 20px 0 0 0;
  color: #fff;
}

.toDoList__current {
  width: 100vw;
  padding: 20px 0 0 0;
  min-height: 100vh;
  -webkit-box-flex: 100%;
      -ms-flex: 100% 0 0px;
          flex: 100% 0 0;
}

.toDoList__done {
  width: 100vw;
  padding: 20px 0 0 0;
  min-height: 100vh;
  -webkit-box-flex: 100%;
      -ms-flex: 100% 0 0px;
          flex: 100% 0 0;
}

.toDoList__deleted {
  width: 100vw;
  padding: 20px 0 0 0;
  min-height: 100vh;
  -webkit-box-flex: 100%;
      -ms-flex: 100% 0 0px;
          flex: 100% 0 0;
}

.toDoList__input-the-task {
  width: 80%;
  padding: 10px;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
  background: #000;
  border-radius: 6px;
  border: 2px solid #000;
  letter-spacing: 1px;
}

.toDoList__list {
  max-width: 100%;
}

.toDoList__list-item {
  border-radius: 5px;
  min-height: 70px;
  padding: 20px 0px 20px 20px;
  margin: 20px 7px 7px 7px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.toDoList__list-item.deleted {
  -webkit-transform: translate(90%, 0);
          transform: translate(90%, 0);
  opacity: 0;
}
.toDoList__list-item.done {
  -webkit-transform: translate(-90%, 0);
          transform: translate(-90%, 0);
  opacity: 0;
}

.toDoList__clear-btn {
  margin: 0 0 15px 0;
}

.list-item__name {
  word-wrap: break-word;
  width: 60%;
  height: auto;
  font-weight: 400;
  font-size: 36px;
  color: #000;
}

.list-item__btn-block {
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.list-item__check {
  width: 34px;
  height: 34px;
}

.list-item__delete-btn {
  cursor: pointer;
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 6px;
  background: #000;
}
.list-item__delete-btn:after, .list-item__delete-btn:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 26px;
  background: #fff;
  top: 4px;
  left: 15px;
  border-radius: 2px;
}
.list-item__delete-btn:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.list-item__delete-btn:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.toDoList__inputblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.toDoList__btn {
  width: 125px;
  height: 100%;
}

.toDoList__row {
  margin: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2.5px solid #000;
  height: 60px;
  border-radius: 10px;
}
.toDoList__row .toDoList__row-item:first-child {
  border-left: 0px solid #000;
}

.toDoList__row-item {
  cursor: pointer;
  -webkit-box-flex: 33.333%;
      -ms-flex: 33.333% 0 0px;
          flex: 33.333% 0 0;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 62.5px;
  border-left: 2.5px solid #000;
}
.toDoList__row-item.active {
  background: #000;
  color: #fff;
}

.toDoList__slider {
  overflow: hidden;
}

.toDoList__slider-line {
  -webkit-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 430px) {
  .bg-block__text-block {
    top: 30vh;
  }
  .bg-block__text-block .title {
    font-size: 36px;
  }
  .bg-block__text-block .subtitle {
    font-size: 30px;
  }

  .toDoList__row-item {
    font-size: 20px;
  }
}
@media (max-width: 381px) {
  .bg-block__btn {
    max-width: 270px;
  }

  .toDoList__title {
    font-size: 26px;
  }

  .toDoList__row-item {
    font-size: 18px;
  }

  .toDoList__input-the-task {
    font-size: 20px;
  }

  .toDoList__btn {
    width: 90px;
    font-size: 20px;
    height: 48px;
    line-height: 46px;
  }

  .toDoList__clear-btn {
    height: 48px;
    line-height: 46px;
  }

  .list-item__name {
    font-size: 25px;
    max-width: 150px;
  }

  .toDoList__list-item {
    min-height: auto;
  }

  .list-item__btn-block {
    max-width: 100px;
  }

  .toDoList__header {
    height: 60px;
    line-height: 60px;
  }
}