@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-family: "Poppins";
  overflow-x: hidden;
}

.wrapper {
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.titleblock {
  margin: 30px 0 0 0;
}

.title {
  font-size: 50px;
  letter-spacing: 5px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.subtitle {
  padding: 20px 0 0 0;
  color: #d0d0d0;
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
}
.subtitle span {
  color: #000;
}

.time-input-block {
  margin: 0px auto 0;
  max-width: 450px;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

form {
  display: block;
  margin: 75px 0 0 0;
}

.input {
  width: 95px;
  padding: 5px;
  font-size: 60px;
  border: 3px solid rgba(0, 0, 0, 0);
  background: #000;
  color: #fff;
  font-weight: 500;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.input.paused {
  border: 3px solid #000000;
  background: #fff;
  color: #000;
}

.des-double-dots {
  content: ":";
  width: 10px;
  height: 100%;
  font-size: 60px;
  color: #000;
  display: block;
}

.buttonsblock {
  margin: 60px auto 0;
  max-width: 700px;
  gap: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  cursor: pointer;
  width: 120px;
  height: 75px;
  background: #000;
  border: 3px solid rgba(0, 0, 0, 0);
  line-height: 75px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn.inactive {
  cursor: default;
  color: #000;
  background: #fff;
  font-weight: 400;
  border: 2px solid #000;
}

.start-btn.inactive {
  font-weight: 600;
}

.buttonblock-start {
  position: relative;
}

.buttonblock-clear {
  position: relative;
}

.buttonblock-repeat {
  position: relative;
}

.overblock {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 75px;
  background: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
  z-index: -1;
}

.start-btn-overblock.inactive {
  z-index: 1;
}

.clear-btn-overblock.inactive {
  z-index: 1;
}

.repeat-btn-overblock.inactive {
  z-index: 1;
}

.circle {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.circleblock {
  margin: 45px auto 0px;
  max-width: 150px;
  display: block;
}

.time-input__block-overflow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.pop-up {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  z-index: 5;
  margin: 20px auto 0;
  position: absolute;
  top: -500%;
  left: 0;
  right: 0;
  width: 800px;
  padding: 30px 30px 30px 60px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 31px -6px rgba(81, 53, 52, 0.2);
          box-shadow: 0px 0px 31px -6px rgba(81, 53, 52, 0.2);
  border-radius: 10px;
}

.pop-up__exit-sign {
  cursor: pointer;
  position: relative;
  left: 95%;
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 4px;
}

.pop-up__exit-sign:after {
  content: "";
  display: block;
  position: absolute;
  top: 14px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 2px;
}

.pop-up__exit-sign:before {
  content: "";
  display: block;
  position: absolute;
  top: 14px;
  right: 0;
  width: 100%;
  height: 2px;
  background: #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-radius: 2px;
}

.pop-up__title {
  margin: 20px 0 0 0;
  font-size: 50px;
}

.pop-up__subtitle {
  padding: 20px 0 0 0;
  font-size: 30px;
}
.pop-up__subtitle span {
  color: #000;
  font-weight: 600;
}
.pop-up__subtitle .heart {
  letter-spacing: 0;
}

.pup-up__image {
  margin: 20px auto 0;
}
.pup-up__image img {
  width: 540px;
  height: auto;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
  margin: 0 auto;
}

.pop-up__btn {
  width: 80%;
  margin: 20px auto 0;
}

.pop-up__explain {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  z-index: 5;
  margin: 20px auto 0;
  position: absolute;
  top: -500%;
  left: 0;
  right: 0;
  width: 800px;
  padding: 30px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 31px -6px rgba(81, 53, 52, 0.2);
          box-shadow: 0px 0px 31px -6px rgba(81, 53, 52, 0.2);
  border-radius: 10px;
}

.container__overflow {
  position: absolute;
  width: 100vw;
  height: 100%;
}

@media (max-width: 810px) {
  .buttonsblock {
    width: 500px;
  }

  .pop-up {
    width: 95%;
  }

  .pop-up__explain {
    width: 95%;
  }

  .pup-up__image img {
    width: 100%;
  }
}
@media (max-width: 560px) {
  .container {
    max-width: 400px;
  }

  .buttonsblock {
    margin: 90px auto 0;
    max-width: 400px;
    gap: 10px;
  }

  .btn {
    width: 120px;
  }

  .overblock {
    width: 120px;
  }

  .circleblock {
    margin: 70px auto 0;
  }

  .pop-up__subtitle {
    font-size: 25px;
  }
}
@media (max-width: 430px) {
  .container {
    max-width: 320px;
  }

  .time-input-block {
    gap: 5px;
  }

  .buttonsblock {
    max-width: 320px;
    gap: 2px;
  }

  .btn {
    width: 100px;
  }

  .overblock {
    width: 100px;
  }

  .pop-up .btn {
    font-size: 20px;
  }
  .pop-up .pop-up__subtitle {
    font-size: 20px;
  }
  .pop-up .pop-up__title {
    font-size: 35px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 275px;
  }

  .buttonsblock {
    max-width: 275px;
    margin: 60px auto 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .btn {
    width: 100%;
  }

  .overblock {
    width: 100%;
  }

  .input {
    width: 75px;
    font-size: 45px;
  }
}
.pop-up__btn {
  width: 80%;
  margin: 20px auto 0;
}