@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Montserrat:wght@400;700&display=swap');

html{
	font-family: "Montserrat";
	overflow-x:hidden;
}
.wrapper {}
.toDoList {}
.container {
	max-width:1230px;
	margin:0 auto;
}
.toDoList__title {
	color:#fff;
}
.title {
	font-size: 40px;
	font-weight: 700;
}
.subtitle {
	font-size: 32px;
	font-weight: 400;
	color:#777;
}
.btn{
	cursor: pointer;
	transition: all 0.3s ease 0s;
	height:60px;
	width:100%;
	line-height: 60px;
	background: #000;
	color:#fff;
	border-radius: 6px;
	border:2px solid #000;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	font-size: 25px;
	letter-spacing: 1px;
	&:hover{
		background: #fff;
		color:#000;
	}
}
.toDoList__header{
	width:100%;
	background: rgba(#000,0.8);
	position: absolute;
	z-index:5;
	top:0;
}
.toDoList__subtitle {
	color:#fff;
}
.bg-block__btn {
	width:300px;
	margin: 0 auto;
	left:0;
	right:0;
	position: absolute;
	bottom:30px;
	background: #ffffff00;
	border:2px solid #fff;
	z-index:2;
}
form{
	overflow: hidden;
}
.toDolist__bg-block {
	position: relative;
	img{
		width:100vw;
		object-fit:cover;
		height:100vh;
	}
}
.bg-block__black-overlay{
	position: absolute;
	top:0;
	width:100%;
	height:100%;
	background: #000;
	opacity:0.4;
	z-index:1;
}
.bg-block__text-block {
	font-family: "Dancing Script";
	position: absolute;
	top:40vh;
	left:0;
	right:0;
	margin: 0 auto;
	text-align:center;
	z-index:2;
}
.bg-block__title {
	color: #fff;
	max-width:70%;
	left:0;
	right:0;
	margin: 0 auto;
	&:after,&:before{
		content:'"';
	}
}
.title {}
.bg-block__subtitle {
	margin: 20px 0 0 0;
	color: #fff;
}
.subtitle {}
.toDoList__current{
	//background: #000;
	width:100vw;
	padding: 20px 0 0 0;
	min-height:100vh;
	flex:100% 0 0;
}
.toDoList__done{
	//background: #000;
	width:100vw;
	padding: 20px 0 0 0;
	min-height:100vh;
	flex:100% 0 0;
}
.toDoList__deleted{
	//background: #000;
	width:100vw;
	padding: 20px 0 0 0;
	min-height:100vh;
	flex:100% 0 0;
}
.toDoList__input-the-task {
	width:80%;
	padding:10px;
	font-size: 32px;
	font-weight: 400;
	color:#fff;
	background: #000;
	border-radius: 6px;
	border:2px solid #000;
	letter-spacing: 1px;
}
.toDoList__list {
	max-width:100%;
	margin: 40px 0 0 0;
}
.toDoList__list-item {
	display: flex;
	justify-content:space-between;
	align-items:center;
	opacity:1;
	&.deleted{
		transform:translate(90%,0);
		opacity:0;
	}
	&.done{
		transform:translate(-90%,0);
		opacity:0;
	}
	transition:all 0.3s ease 0s;
}
.list-item__name {
	max-width:75%;
	font-weight: 400;
	font-size: 36px;
	color:#000;
}
.list-item__btn-block{
	width:125px;
	display: flex;
	justify-content:space-around;
}
.list-item__check {
	width:34px;
}
.list-item__delete-btn{
	width:34px;
	height:34px;
	border-radius: 6px;
	background: #EB1D1D;

}
.toDoList__inputblock{
	display: flex;
	justify-content:space-between;
	align-items:center;
	gap:10px;
}
.toDoList__btn {
	width:125px;
}
.toDoList__row {
	margin:20px 0 0 0;
	.container{
		display: flex;
		border:2.5px solid #000;
		height:60px;
		border-radius: 10px;
		.toDoList__row-item:first-child{
			border-left:0px solid #000;
		}
	}
}
.toDoList__row-item {
	cursor: pointer;
	flex: 33.333% 0 0;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	line-height: 62.5px;
	border-left:2.5px solid #000;
	&.active{
		background: #000;
		color:#fff;
	}
}
.toDoList__slider {
	overflow:hidden;
}
.toDoList__slider-line {
	transition: all 0.75s ease 0s;
	display: flex;
}
